@import url(https://fonts.googleapis.com/css?family=Roboto|Caesar+Dressing|Uncial+Antiqua);

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.page-header {
  display: flex;
  justify-content: center;
  font-family: 'Caesar Dressing', sans-serif;
  font-size: 2.8em;
  padding-top: 0.5em;
  background-color: black;
  color: #DFAE10;
}

.page-footer {
  color: orange;
}

.items-view {
  padding: 0.5em;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0em 0.5em 2em 0.5em;
}

.item-section-heading {
  font-family: 'Caesar Dressing';
  font-size: 1.8em;
  margin: 0.5em;
}

.item-sheet {
  background-color: #1F1F1F;
  color: #BBB;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 0.8em;
  width: 19em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.item-sheet-gutter {
  min-width: 20em;
  background-color: black;
}

.item-sheet-gutter .item-sheet {
  position: fixed;
  right: 1em
}

.item-sheet .title {
  font-size: 1.2em;
  margin-bottom: 0.75em;
}

.item-sheet .stats,
.item-sheet .price {
  margin: 0.75em;
}

.item-sheet .short-description {
  margin-bottom: 0.75em;
}

.item-sheet .description {
  margin-top: 1em;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  color: white
}

.filter-segment {
  margin-right: 1em;
  font-size: 1.2em;
}

.filter-segment-title {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.sort-arrows i {
  font-size: 1.5em;
  margin-left: 0.5em;
}

.filter select {
  background-color: black;
  color: orange;
  border: none;
  outline: none;
  font-size: 1em;
}

.filter-select-container {
  border-bottom: 1px solid orange;
}

.filter-select {
  display: flex;
}

.filter span.selector {
  padding: 0.3em;
  cursor: pointer;
  margin-right: 0.5em;
  border-radius: 0.2em;
  user-select: none;
  -webkit-user-select: none;
}

.filter span.selected {
  background-color: orange;
  color: black;
}

.filter i.selected {
  color: orange;
}

.icon-view {
  display: flex;
}
